a{
  font-size:12px;
  text-decoration:none;	
  color:#999999;
	}
a:hover{
	text-decoration:underline;
	
	}
	input{
	  border:0;
	  margin:0;
	  padding:0;
	  	
		}
body,p,img.span,input,ul,li,div{
  margin:0;
  padding::0;	
	}
img{
   border:0;
   	
	}
ul,li{
    list-style:none;
	border:0;
	margin:0;
	padding:0;	
	}
.headdiv {
	background-color: #980101;
	height: 95px;
	width: 100%;
	overflow: hidden;
	position: relative;
}
.headdiv_centerdiv {
	background-image: url(tmbg.png);
	background-position: 0px -124px;
	height: 100%;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	background-repeat: no-repeat;
	z-index: 1;
	position: relative;
}
.headdiv_centerdiv_top {
	height: 26px;
	width: 100%;
}
.headdiv_centerdiv_top_xiediv {
	background-image: url(tmbg.png);
	background-position: -105px -96px;
	float: left;
	height: 26px;
	width: 18px;
	display: inline;
	margin-left: 150px;
}
.headdiv_centerdiv_top_rightdiv {
	float: left;
	height: 25px;
	width: 790px;
	background-color: #790002;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #A31B1B;
}
.headdiv_centerdiv_top_rightdiv_a1 {
	color: #F2DCC7;
	background-image: url(phone.png);
	background-repeat: no-repeat;
	float: left;
	height: 25px;
	width: 60px;
	line-height: 25px;
	text-align: right;
	margin-right: 7px;
}
.headdiv_centerdiv_top_rightdiv_a1:hover {
    color:#fff;
	text-decoration:underline;	
	}
.headdiv_centerdiv_top_rightdiv_a2 {
	color: #F2DCC7;
	float: left;
	height: 25px;
	width: 110px;
	line-height: 25px;
	text-align:center;
}
.shuspan {
	background-image: url(tmbg.png);
	background-repeat: no-repeat;
	background-position: 0px -93px;
	float: left;
	height: 25px;
	width: 2px;
}
.headdiv_centerdiv_top_rightdiv_a3{
	color: #FFF;
	float: left;
	height: 25px;
	width: 40px;
	line-height: 25px;
	text-align:center;
}
.headdiv_centerdiv_top_rightdiv_a3:hover{
    color: #FDAA01;
	text-decoration:underline;
	}
.headdiv_centerdiv_top_rightdiv_a4{
	color: #F2DCC7;
	float: left;
	height: 25px;
	width: 50px;
	line-height: 25px;
	text-align:center;
	margin-left:7px;
}
.headdiv_centerdiv_top_rightdiv_a4:hover{
    color: #FFF;
	text-decoration:underline;
	}
.headdiv_centerdiv_top_rightdiv_a5{
	color: #F2DCC7;
	float: left;
	height: 25px;
	width: 65px;
	line-height: 25px;
	text-align:left;
	margin-left:153px;
	background-image: url(san.png);
	background-position: 50px;
	background-repeat: no-repeat;
}
.headdiv_centerdiv_top_rightdiv_a6{
	color: #F2DCC7;
	float: left;
	height: 25px;
	width: 55px;
	line-height: 25px;
	text-align:left;
	margin-left:7px;
	background-image: url(san.png);
	background-position: 40px;
	background-repeat: no-repeat;
}
.headdiv_centerdiv_top_rightdiv_a7{
	color: #F2DCC7;
	float: left;
	height: 25px;
	width: 80px;
	line-height: 25px;
	text-align:right;
	margin-left:7px;
	background-image: url(car.png);
	background-repeat: no-repeat;
}
.headdiv_centerdiv_top_rightdiv_a7:hover{
   color:#fff;
   text-decoration:underline;	
	}
.headdiv_centerdiv_top_rightdiv_a8{
	color: #F2DCC7;
	float: left;
	height: 25px;
	width: 55px;
	line-height: 25px;
	text-align:left;
	margin-left:7px;

}
.headdiv_centerdiv_top_rightdiv_a8:hover{
   color:#fff;
   text-decoration:underline;	
	}
.headdiv_centerdiv_top_rightdiv_a9{
	color: #F2DCC7;
	float: left;
	height: 25px;
	width:65px;
	line-height: 25px;
	text-align:left;
	margin-left:7px;
	background-image: url(san.png);
	background-position: 50px;
	background-repeat: no-repeat;
}.headdiv_centerdiv_bottomdiv {
	height: 69px;
	width: 100%;
}
.headdiv_centerdiv_bottomdiv_logo {
	background-image: url(tmbg.png);
	background-repeat: no-repeat;
	background-position: 0px -44px;
	display: inline;
	float: left;
	height: 35px;
	width: 230px;
	margin-top: 17px;
}
.logopoint {
	background-image: url(logopoint.png);
	background-repeat: no-repeat;
	float: left;
	height: 50px;
	width: 20px;
	display: block;
	background-position: 0px 10px;
}
.headdiv_centerdiv_bottomdiv_shuma {
	font-size: 16px;
	line-height: 30px;
	font-weight: bold;
	color: #FFF;
	display: block;
	float: left;
	height: 45px;
	width: 35px;
	margin-top: 30px;
}
.headdiv_centerdiv_bottomdiv_inputdiv {
	background-image: url(input.png);
	background-repeat: no-repeat;
	float: right;
	height: 45px;
	width: 390px;
	margin-top: 10px;
}
.headdiv_centerdiv_bottomdiv_input {
	height: 20px;
	width: 290px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin-top: 15px;
	margin-left: 10px;
}
.rightback {
	background-color: #790002;
	height: 25px;
	width: 400px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #A31B1B;
	position: absolute;
	float: right;
	top: 0px;
	right: 0px;
}
.bodydiv {
	height: auto;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
}
.bodydiv_leftdiv {
	float: left;
	height: auto;
	width: 188px;
	overflow:hidden;
}
.bodydiv_rightdiv {
	float: left;
	height: auto;
	width: 758px;
	margin-left:10px;
	overflow:hidden;
}
.bodydiv_leftdiv_tmdiv {
	height: 25px;
	width: 188px;
	font-size: 12px;
	padding-top:5px;
}
.bodydiv_leftdiv_tmdiv_a {
	color:#2953A6;
}
.bodydiv_leftdiv_tmdiv_a:hover{
	text-decoration:underline;
}


.bodydiv_leftdiv_pinbaodiv {
	background-image: url(pingbao.png);
	background-repeat: no-repeat;
	height: 65px;
	width: 190px;
	
}
.bodydiv_leftdiv_pinbaodiv_a {
	font-size: 12px;
	color: #656565;
	float: left;
	height: 20px;
	width: 63px;
	margin-top: 37px;
	line-height: 20px;
	text-align: center;
	display: block;
}
.bodydiv_leftdiv_dianjie {
	height: 184px;
	width: 178px;
	border-left-width: 2px;
	border-left-style: solid;
	border-left-color: #C61301;
	padding-left: 15px;
}
.bodydiv_leftdiv_dianjie_a1 {
	color: #000;
	display: block;
	margin-top: 20px;
	background:#F8F8F8;
}
.bodydiv_leftdiv_dianjie_a2 {
	color: #D80808;
	display: block;
	font-size: 20px;
	line-height: 25px;
	font-weight: bold;
	background-image: url(starbg.png);
	background-repeat: no-repeat;
	background-position: -179px -265px;
	height: 25px;
	width: 130px;
	padding-left: 20px;
	margin-top: 5px;
}
.bodydiv_leftdiv_dianjie_a2:hover {
    text-decoration:none;	
	}
.bodydiv_leftdiv_dianjie_a3 {
	display: block;
	height: 20px;
	width: 80px;
	margin-top: 5px;
}
.bodydiv_leftdiv_dianjie_a3:hover {
    text-decoration:none;	
	}
.bodydiv_leftdiv_dianjie2 {
	/*height: 154px;*/
	height:auto;
	width: 175px;
	background:#F8F8F8;
	border:1px solid #CCCCCC;
	border-top:0;
	padding-left: 15px;
	border-top:0;
	padding-bottom:20px;

}
.bodydiv_leftdiv_proaboutheaddiv {
	height: 32px;
	width: 175px;
	background:#F2F2F2;
	border:1px solid #CCCCCC;
    padding-left: 15px;
	margin-top:10px;
	font-size:13px;
	color:#666666;
	font-weight:bold;
	line-height:32px;

}.bodydiv_rightdiv_namediv {
	font-size: 15px;
	font-weight: bold;
	color: #000;
	height: 32px;
	width: 100%;
	padding-top: 30px;
}
.jvbao {
	display: inline;
	font-size: 12px;
	margin-left: 200px;
	font-weight: normal;
}
.bodydiv_rightdiv_pormessage {
	height: auto;
	width: 100%;
	overflow: hidden;
}
.bodydiv_rightdiv_pormessage_left {

	float: left;
	height: 100%;
	width: 312px;
}
.bodydiv_rightdiv_pormessage_right {
	float: left;
	height: 100%;
	width: 435px;
	margin-left: 10px;
	display: inline;
	overflow: hidden;
}
.probigimg {
	border: 1px solid #CDCDCD;
	height: 310px;
	width: 310px;
}
.prosimgul {
	display: block;
	height: 45px;
	width: 100%;
	margin-top: 10px;
}
.prosimgul .prosimgul_li {
	display: block;
	float: left;
	height: 41px;
	width: 41px;
	border: 2px solid #CDCDCD;
	margin-right:7px;
	
}
.prosimgul .prosimgul_li:hover {
   	border: 2px solid #C30008;
	}
.sharediv {

	height: 30px;
	width: 100%;
	margin-top:20px;
}
.sharediv_a {
	display: block;
	float: left;
	height: 18px;
	width: 18px;
	background-image: url(share1.png);
	background-repeat: no-repeat;
	margin-right: 5px;
}
.sharediv_shuspan {
	background-image: url(shareshu.png);
	display: block;
	float: left;
	height: 18px;
	width: 7px;
}
.sharediv_a2 {
	display: block;
	float: left;
	height: 18px;
	width: 18px;
	background-image: url(share6.png);
	background-repeat: no-repeat;
	margin-left:40px;
}
.sharediv_a3 {
	display: block;
	float: left;
	height: 18px;
	width:65px;
    color:#2953A6;
	line-height:18px;

}
.sharediv_a4 {
	display: block;
	float: left;
	height: 18px;
	width:60px;
	line-height:18px;

}
.sharediv_a4:hover {
   text-decoration:none;	
	}


.bodydiv_rightdiv_pormessage_right_1 {
	height: 30px;
	width: 100%;
}
.prisea {
	line-height: 30px;
	display: block;
	float: left;
	height: 30px;
	width: 70px;
}
.prisea:hover {
    text-decoration:none;	
	}
.prisea2 {
	font-size:30px;
	color:red;
	font-weight:bold;
	line-height: 30px;
	display: block;
	float: left;
	height: 30px;
	width: 195px;
	white-space: nowrap;
}
.prisea2:hover {
    text-decoration:none;	
	}
.vipspan {
	font-size: 12px;
	color: #999999;
	background-color: #F5F5F5;
	height: 16px;
	width: 48px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: dashed;
	border-left-style: solid;
	border-top-color: #F0EDEC;
	border-right-color: #F0EDEC;
	border-bottom-color: #F0EDEC;
	border-left-color: #F0EDEC;
	display: block;
	float: left;
	line-height: 16px;
	margin-top: 6px;
}
.youhuispan {
	display: block;
	height:30px;
	line-height:30px;
	float:left;
	font-size: 12px;
	font-weight: normal;
	margin-left:10px;
	
}
.moreyouhuia {
	display: block;
	height:30px;
	line-height:30px;
	float:left;
	font-size: 12px;
	font-weight: normal;
	margin-left:10px;
	
}
.moreyouhuia:hover {
   color:#AB1217;
	}
.wayspan {
	font-size: 12px;
	color: #999999;
	background-color: #F0EDEC;
	height: 16px;
	width: 66px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: dashed;
	border-left-style: solid;
	border-top-color: #F0EDEC;
	border-right-color: #F0EDEC;
	border-bottom-color: #F0EDEC;
	border-left-color: #F0EDEC;
	display: block;
	float: left;
	line-height: 16px;
	margin-top: 6px;
	background-image: url(waysan.png);
	background-repeat: no-repeat;
	background-position: 55px 0px;
}.leipingdiv {
	float: left;
	height: 25px;
	padding-top: 6px;
}
.libuydiv {
	background-color: #FCFAF9;
	height: 215px;
	width: 100%;
	border: 1px solid #F7F5F3;
}
.colorfendiv {
	height: 85px;
	width: 100%;
}
.colorfendiv_leftdiv {
	float: left;
	height: 78px;
	width: 70px;
	font-size: 12px;
	color: #000;
	padding-top: 7px;
}
.colorfendiv_leftdiv2 {
	float: left;
	height: 32px;
	font-size: 12px;
	line-height:32px;
	border:2px solid #E2E1E3;
	color: #000;
	padding-left:7px;
	padding-right:7px;
	margin-right: 6px;
	margin-bottom: 6px;
	white-space: nowrap;
}
.colorfendiv_leftdiv2:hover {
    border:2px solid #CC0000; 	
	}
.colorfendiv_shuliangdiv {
	float: left;
	height: 33px;
	width: 320px;
}
.shulianginput {
	width: 60px;
	float: left;
	height: 24px;
	border: 1px solid #A7A6AC;
	padding-top: 7px;
	margin-right: 4px;
}
.shuliangupdowndiv {
	float: left;
	height: 33px;
	width: 18px;
}
.shuliangup {
	background-image: url(shuliangup.png);
	display: block;
	height: 18px;
	width: 18px;
	background-repeat: no-repeat;
}
.shuliangdown {
	background-image: url(shuliangdown.png);
	display: block;
	height: 14px;
	width: 18px;
	background-repeat: no-repeat;
}
.jianshuspan {
	font-size: 12px;
	line-height: 33px;
	display: block;
	float: left;
	height: 33px;
	margin-left: 10px;
}
.ligoua {
	background-image: url(buybg.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	display: block;
	float: left;
	height: 36px;
	width: 130px;
}
.ligoua2 {
	background-image: url(buybg.png);
	background-repeat: no-repeat;
	background-position: -132px 0px;
	display: block;
	float: left;
	height: 36px;
	width: 155px;
	margin-left:13px;
}
.darendiv {
	height: 140px;
	width: 435px;
}
.darendiv_div1 {
	height: 25px;
	width: 435px;
	margin-top: 15px;
}
.darendiv_div1_lefta {
	display: block;
	float: left;
	height: 24px;
	width: 70px;
	/*border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCC;*/
	line-height: 24px;
}
.darendiv_div1_lefta:hover {
    text-decoration:none;	
	}
	
.darendiv_div1_tuihuoa {
	display: block;
	float: left;
	height: 24px;
	width: 140px;
	line-height: 24px;
	padding-left:16px;
	background-image: url(tuihuo.png);
	background-repeat: no-repeat;
	background-position: 0px 6px;
}.songjifenspan {
	display: block;
	float: left;
	height: 25px;
	width: 140px;
	font-size: 12px;
	color: #666666;
}
.xiangduidediv {
	height: 30px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #A60000;
	border-left-color: #CCCCCC;
}
.xiangduidediv_div1 {
	font-size: 12px;
	line-height: 30px;
	float: left;
	height: 30px;
	padding-right: 20px;
	padding-left: 20px;
	cursor: pointer;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCCCCC;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
}
.xiangduidediv_div1:hover {
    color:#8E0101;	
	}
.chengnuodiv {
	background-color: #FFFFE5;
	height: 28px;
	border: 1px solid #FFCC7F;
	margin-top: 10px;
	margin-bottom: 10px;
	background-image: url(light.png);
	padding-left: 25px;
	background-repeat: no-repeat;
	font-size: 12px;
	line-height: 28px;
}
.canshudiv {
	background-color: #F6F6F6;
	height: 202px;
	border: 1px solid #E6E6E6;
}
.canshudiv_head {
	height: 33px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
	line-height: 33px;
	font-weight: bold;
	padding-left: 20px;
	font-size: 13px;
	float: left;
	width: 100%;
	color: #404040;
}
.canshudiv_div1 {
	font-size: 12px;
	line-height: 30px;
	color: #666666;
	float: left;
	height: 168px;
	padding-left: 20px;
	width: 205px;
}
.promoreimg {
	display: block;
	margin-top: 20px;
	margin-bottom: 30px;
}
.pingjiaheaddiv {
	font-size: 13px;
	line-height: 30px;
	color: #FFF;
	background-color: #8E0101;
	height: 30px;
	padding-left: 17px;
	font-weight: bold;
}
.pingjiabodydiv {
	height: 85px;
	border: 1px solid #C8C8C8;
}
.pingjiabodydiv_leftdiv {
	float: left;
	height: 100%;
	width: 130px;
	margin-left: 65px;
	display: inline;
}
.xinagfup {
	font-size: 12px;
	line-height: 20px;
	height: 20px;
	width: 130px;
	display: block;
	float: left;
	margin-top: 13px;
}
.fenshuspan {
	font-size: 30px;
	line-height: 30px;
	color: #FF6600;
	float: left;
	height: 30px;
	width: 40px;
	font-weight: bold;
	display: block;
}
.fenshustar {
	background-image: url(fivestar.png);
	display: inline;
	float: left;
	height: 13px;
	width: 65px;
	background-repeat: no-repeat;
	margin-top: 10px;
}
.pingjiatiaodiv {
	background-image: url(pingjiabg.png);
	background-repeat: no-repeat;
	float: left;
	height: 20px;
	width: 418px;
	padding-top: 15px;
	position: relative;
	margin-top: 40px;
}
.pingjiabodydiv_span1 {
	font-size: 12px;
	display: inline;
	float: left;
	height: 16px;
	width: 55px;
	margin-left: 50px;
}
.pingjiabodydiv_span2 {
	font-size: 12px;
	display: inline;
	float: left;
	height: 16px;
	width: 55px;
	margin-left:37px;
}
.pingjiabodydiv_span3 {
	font-size: 12px;
	display: inline;
	float: left;
	height: 16px;
	width: 55px;
	margin-left:32px;
}
.pingjiabodydiv_span4 {
	font-size: 12px;
	display: inline;
	float: left;
	height: 16px;
	width: 55px;
	margin-left:24px;
}
.pingjiabodydiv_span5 {
	font-size: 12px;
	display: inline;
	float: left;
	height: 16px;
	width: 55px;
	margin-left:0px;
}

.yidongfenshu {
	font-size: 12px;
	line-height: 12px;
	color: #FFF;
	background-image: url(pingjiabg.png);
	background-repeat: no-repeat;
	display: block;
	height: 20px;
	width: 27px;
	position: absolute;
	left: 360px;
	top: -20px;
	background-position: -419px;
	text-align: center;
}
.pingjiatiaobottom {
	height: 34px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #C8C8C8;
	border-bottom-color: #C8C8C8;
	border-left-color: #C8C8C8;
	background-color: #EFEFEF;
	padding-left: 20px;
	margin-bottom: 5px;
}
.pingjiainput {
	background-color: #CDD1D6;
	border: 1px solid #8E8F8F;
	margin-top: 10px;
	display: inline;
	float: left;
}
.zuijiaping {
	font-size: 12px;
	line-height: 16px;
	display: block;
	float: left;
	height: 16px;
	width: 50px;
	margin-top: 10px;
	margin-left: 5px;
	cursor: default;
}
.pingpaixua {
	line-height: 24px;
	display: inline;
	float: left;
	height: 24px;
	border: 1px solid #CCCCCC;
	margin-top: 5px;
	background-color: #FFF;
	padding-right: 5px;
	padding-left: 5px;
	color:#333333;
	margin-left: 5px;
}
.pingpaixua:hover {
    text-decoration:none;	
	}

.pingjiaul {
	display: block;
	height: auto;
}
.pingjiaul_li {
	display: block;
	height: 58px;
	width: 100%;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #E9E9E9;
	padding-left: 10px;
	padding-top: 18px;
}
.pingjiaul_li_upleftdiv {
	font-size: 12px;
	float: left;
	height: 20px;
	width: 630px;
	margin-bottom: 8px;
}
.yonghunamea {
	font-size: 12px;
	line-height: 20px;
	color: #2953A6;
	display: block;
	float: left;
	height: 20px;
}
.pingjiaul_li_downdiv {
	font-size: 12px;
	float: left;
	height: 20px;
	width: 630px;
	margin-bottom: 8px;
	color:#999999;
}
.othersamea {
	line-height: 25px;
	color: #333333;
	background-color: #E5E5E5;
	height: 25px;
	width: 100px;
	padding-left: 10px;
	display: block;
	float: left;
	background-image: url(otherclass1.png);
	background-position: 87px 0px;
	background-repeat: no-repeat;
}
.othersamea:hover {
    color: #fff;
	background-image: url(otherclass2.png);
	text-decoration:none;
	background-color: #B10000;
	}
.yeshudiv {
	float: left;
	height: 60px;
	width: 420px;
	background-image: url(cat.png);
	background-repeat: no-repeat;
	background-position: 340px 0px;
	margin-left: 215px;
	display: inline;
}
.nextpagea {
	font-size: 15px;
	line-height: 38px;
	display: block;
	float: left;
	height: 38px;
	padding-right: 15px;
	padding-left: 15px;
	border: 1px solid #E5E5E5;
	font-weight: bold;
	color: #2953A6;
	margin-top: 20px;
}
.nextpagea:hover {
   	background:#EFEFEF;
	}
.nextpagespan {
	font-size: 15px;
	line-height: 38px;
	display: block;
	float: left;
	height: 38px;
   font-weight: bold;
    margin-top: 20px;
}
.chengjiaoleijidiv {
	font-size: 12px;
	line-height: 25px;
	height: 25px;
}
.hongspan {
	font-weight: bold;
	color: #CC003A;
	font-size: 13px;
}
.chengjiaoleijidiv2 {
	font-size: 13px;
	line-height: 25px;
	height: 25px;
	font-weight: bold;
	color: #666666;
}

.orcolor {
	color: #CC6600;
}
.jiluheaddiv {
	background-color: #F6F9FC;
	height: 30px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #DDE4EA;
}
.jiluheaddiv_span1 {
	font-size: 13px;
	line-height: 30px;
	font-weight: bold;
	display: inline;
	float: left;
	height: 30px;
	margin-left: 15px;
}
.jiluheaddiv_span2 {
	font-size: 13px;
	line-height: 30px;
	font-weight: bold;
	display: inline;
	float: left;
	height: 30px;
	margin-left: 5px;
	color: #999999;
}
.jiluheaddiv_span3 {
	font-size: 13px;
	line-height: 30px;
	font-weight: bold;
	display: inline;
	float: left;
	height: 30px;
	margin-left: 90px;
}

.jilumainul {
	display: block;
	height: auto;
}
.jilumainul_li1 {
	display: block;
	height: 60px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EEF1F4;
	overflow: hidden;
	vertical-align: middle;	
}
.jilumainul_li1_div1 {
	float: left;
	width: 135px;
	height:40px;
	padding-top: 20px;
	font-size: 12px;
	color: #404040;
}
.jilumainul_li1_div2 {
	float: left;
	width: 200px;
	height: 60px;
	font-size: 12px;
	color: #404040;
	line-height: 20px;
}
.jilumainul_li1_div3 {
	float: left;
	width: 142px;
	height: 60px;
	font-size: 13px;
	color: #FF5500;
	line-height: 60px;
	text-align: center;
	font-weight: bold;
}
.jilumainul_li1_div4 {
	float: left;
	width: 55px;
	height: 60px;
	font-size: 13px;
	color: #404040;
	line-height: 60px;
	text-align: center;
}
.jilumainul_li1_div5 {
	float: left;
	width:175px;
	height: 60px;
	font-size: 13px;
	color: #404040;
	line-height: 60px;
	text-align: center;
	
}
.jilumainul_li1_div6 {
	float: left;
	width:40px;
	height: 60px;
	font-size: 13px;
	color: #404040;
	line-height: 60px;
	text-align: right;
	
}
.morehistory {
	line-height: 20px;
	height: 20px;
	margin-top: 20px;
}
.morehistory_a {
	font-size: 14px;
	line-height: 20px;
	color: #DA692F;
	display: block;
	float: right;
	height: 20px;
	width: 140px;
}
.zhiliangdiv {
	height: 333px;
}
.zhiliangdiv_leftdiv {
	height: 333px;
	width: 366px;
	float: left;
	padding-left: 15px;
}
.zhiliangdiv_rightdiv {
	float: left;
	height: 290px;
	width: 377px;
	padding-top: 43px;
}
.zhiliangdiv_leftdiv_span1 {
	font-size: 13px;
	font-weight: bold;
	display: block;
	height: 15px;
	width: 85px;
	line-height: 15px;
	color: #000;
	margin-top: 18px;
	margin-bottom: 9px;
}
.zhiliangdiv_leftdiv_span2 {
	font-size: 13px;
	display: block;
	height: 27px;
	width:358px;
	line-height: 27px;
	color: #666666;
	background-color: #E5F2FF;
	margin-bottom: 10px;
}
.tuisua {
	color: #2953A6;
	display: block;
	float: left;
	padding-left: 10px;
}
.tuisua:hover {
    text-decoration:none;	
	}
.reseeheaddiv {
	font-size: 14px;
	line-height: 20px;
	height: 20px;
}

.ss {
	float: left;
	height: 10px;
	width: 280px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E9E9E9;
	vertical-align: top;
	display: inline;
	font-size: 1px;
	background-color: #FFF;
}
.reseeheaddiv_span {
	display: block;
	float: left;
	width: 185px;
}
.reseemaindiv {
	height: 280px;
}
.reseemaindiv_div1 {
	float: left;
	width: 160px;
	height: 280px;
	margin-right: 35px;
}
.savediv {
	background-color: #FFFFE5;
	height: 137px;
	width: 728px;
	border: 1px solid #FFCC7F;
	padding-right: 10px;
	padding-left: 10px;
}
.savediv_updiv {
	height: 53px;
	width: 708px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFE8CA;
	padding-top: 15px;
	font-size: 12px;
	line-height: 25px;
}
.savediv_updiv_leftdiv {
	font-size: 12px;
	font-weight: bold;
	color: #000;
	float: left;
	height: 55px;
	width: 70px;
}
.fankuidiv {
	height: 20px;
	width: 960px;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
	font-size: 12px;
	line-height: 20px;
}
.fankuidiv_span {
	font-size: 12px;
	line-height: 20px;
	display: block;
	float: right;
}
.fankuidiv_leftdiv {
	float: left;
}
.bottomborderdiv {
	background-image: url(bottomborder.png);
	background-repeat: repeat-x;
	height: 4px;
	width: auto;
	background-color: #03F;
	vertical-align: top;
	font-size: 0px;
}
.tmbottomlogodiv {
	height: 160px;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	vertical-align: bottom;
}
.tmbottomlogodiv_div1 {
	width: 170px;
	float: left;
	height: 160px;
	margin-left: 59px;
	display: inline;
}
.tmbottomlogodiv_div1_headdiv {
	height: 25px;
	width: 170px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E2E2E2;
	margin-top: 10px;
	vertical-align: middle;
}
.tmbaospan {
	background-image: url(tmbottomlogo.png);
	background-repeat: no-repeat;
	background-position: 0px -53px;
	height: 20px;
	width: 75px;
	display: block;
}
.tmbottomlogodiv_div1_ul {
	display: block;
	overflow: hidden;
	list-style-image: url(lipic.png);
}
.tmbottomlogodiv_div1_ul_li {
	background-image: url(lipic.png);
	background-repeat: no-repeat;
	display: block;
	height: 20px;
	padding-left: 20px;
	background-position: 10px 2px;
	font-size: 12px;
	line-height: 20px;
	color: #666666;
	margin-top: 10px;
}
.bottomlogopic {
	background-image: url(tmbottomlogo.png);
	background-repeat: no-repeat;
	background-position: -75px -52px;
	display: block;
	float: left;
	height: 80px;
	width: 80px;
	margin-top: 30px;
	margin-left: 20px;
}
.colorblue {
	color: #3366CC;
}
